<div class="container">

  <div class="col-md-12" *ngIf="spell">
      <h2>{{ spell.name }}</h2>
      <p>{{ spell.desc }}</p>
      <p>{{ spell.higher_level }}</p>

    <div class="row">

      <div class="col-md-4">
        <p><strong>Page:</strong> {{ spell.page }}</p>
        <p><strong>Range:</strong> {{ spell.range }}</p>
      </div>

      <div class="col-md-4">
        <p><strong>Components:</strong> {{ spell.components }}</p>
        <p><strong>Materials:</strong> {{ spell.material }}</p>
        <p><strong>Ritual:</strong> {{ spell.ritual }}</p>
        <p><strong>Duration:</strong> {{ spell.duration }}</p>
        <p><strong>Concentration:</strong> {{ spell.concentration }}</p>
        <p><strong>Casting Time:</strong> {{ spell.casting_time }}</p>
      </div>

      <div class="col-md-4">
        <p><strong>School:</strong> {{ spell.school.name }}</p>
        <p *ngFor="let class of spell.classes; index as i;">
          <strong>Class:</strong> {{ class.name }}
        </p>
        <p *ngFor="let subclass of spell.subclasses; index as i;">
          <strong>Sub-Class:</strong> {{ subclass.name }}
        </p>
      </div>
    </div>

  </div>

</div>
