<div>

  <ngx-datatable class="bootstrap"
                 *ngIf="spells"
                 [columnMode]="'force'"
                 [headerHeight]="40"
                 [summaryRow]="true"
                 [summaryPosition]="'bottom'"
                 [footerHeight]="40"
                 [limit]="10"
                 [rowHeight]="'auto'"
                 [reorderable]="reorderable"
                 [rows]="spells.results"
  >

    <ngx-datatable-column name="Name" [sortable]="false" [resizeable]="false" [draggable]="false">
      <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
        <a routerLink="/spell/{{rowIndex + 1}}">{{ row.name }}</a>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>

</div>
