<div>

  <ngx-datatable class="bootstrap"
                 *ngIf="classes"
                 [columnMode]="'force'"
                 [headerHeight]="40"
                 [summaryRow]="true"
                 [summaryPosition]="'bottom'"
                 [footerHeight]="40"
                 [limit]="10"
                 [rowHeight]="'auto'"
                 [reorderable]="reorderable"
                 [rows]="classes"
  >

    <ngx-datatable-column name="Name" [sortable]="false" [resizeable]="false" [draggable]="false">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.name }}
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>

</div>
